[user]
    name = Tomoyuki KOYAMA
    email = __REPLACE_ME_
[alias]
    tree = log --graph --all --format='%x09%C(cyan bold)%an%Creset%x09%C(yellow)%h%Creset %C(magenta reverse)%d%Creset %s'
	st = status
	br = branch
	ch = checkout
	re = reset
    pl = pull
    ps = push

[url "git@github.com:"]
	insteadOf = https://github.com/
